*::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.apexcharts-tooltip {
  background: var(--chakra-colors-gray-900) !important;
  color: var(--chakra-colors-blue-500) !important;
}

.apexcharts-tooltip-title {
  background: var(--chakra-colors-gray-900) !important;
}
